<div class="page-header">
  <%= link_to admin_rate_types_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to admin_rate_type_path(@rate_type), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing admin_rate_type</h1>
</div>

<%= render 'form' %>
