  <% content_for :page_header do %>
    Dashboard
  <% end %>
 
<%= render 'admin/header' %>



<div class="row">

<%= render 'admin/tasks' %>



<%= render 'admin/tickets' %>
</div>

  <%= render 'admin/unpaid_invoices' %>



  <script>
        init.push(function () {
          $('#dashboard-tasks .panel-body').slimScroll({ height: 300, alwaysVisible: true, color: '#888',allowPageScroll: true });
        })
  </script>