<% @photo = @gallery.photos.new %> 

<%= form_for [:admin, @gallery, @photo], :class=>"form-horizontal panel" do |f| %>
	<div class="panel-body">
	<%= f.file_field :file %>
	</div>
	<div class="panel-footer text-right">
	<%= f.submit :action, :class=> "btn btn-primary" %>
	</div>

<% end %>

<script>
      $(function(){
          
          $('#photo_file').pixelFileInput({ placeholder: 'No file selected...' });
      });
  </script>