<script>
  var init = [];
  init.push(function () {
    $('body').addClass('mmc page-mail');
  });
</script>

<%= render "nav" %>

<div class="mail-container">
    <div class="mail-container-header show">
		<%= render 'form' %>
	</div>
</div>
