
  <% content_for :page_header do %>
    New Invoice  
    <% end %>
  <% content_for :page_actions do %>
    <% if params[:client_id] %>
	    <%= link_to admin_client_invoices_path(params[:client_id]), :class => 'btn btn-primary btn-labeled', :style=>"width: 100%;" do %>
	                <span class="btn-label icon fa fa-plus"></span>Back
	    <% end %>
    <% else %>
	     <%= link_to admin_invoices_path, :class => 'btn btn-primary btn-labeled', :style=>"width: 100%;" do %>
	                <span class="btn-label icon fa fa-plus"></span>Back
	    <% end %>
	<% end %>
  <% end %>
<%= render 'admin/header' %>

<%= render 'form' %>
