<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>You have a new message from <%= @message.full_name %></h3>
    <p>
      <%= @message.body %><br>
    </p>
     <p><%= @message.phone %></p>
     <p><%= @message.email %></p>
  </body>
</html>