<div class="container">
        <header class="section-title">
            <h1>About Us</h1>

            <ol class="breadcrumb">
                 <%= render_breadcrumbs :tag => :li, :separator => "", :class=>"breadcrumb-label text-light-gray" %>
            </ol>
        </header>

        <div class="row">
            <div class="col-xs-12">
                <section id="about-slogan">
                    <p class="lead">We are a small business too.</p>
                    
                </section>
            </div>

            <div class="col-md-7">
                <section id="about-description">
                    <p>Established in 2010, Optimus Labs has provided technology services to small and medium sized businesses across the state of <strong>Texas</strong>. Optimus Labs is a small business too, so we know the struggles you face as a small business owner. </p>

                    <p>Our focus is on providing <strong>excellent customer service</strong> in order to become a part of your team. We focus on the technology so that you can focus on growing your business. Optimus Labs is a software and services company. Our primary focus is on developing software that enables small business to interact with their customers in Today's connected economy.</p>
                </section> <!-- about-description -->
            </div> <!-- col-md-7 -->

            <div class="col-md-5">
                <section id="about-info">
                    <div class="about-item">
                        <div class="about-item-icon">
                            <i class="icon-suitcase"></i>
                        </div>
                        <div class="about-item-content">
                            <h3>Labore pariatur pariatur</h3>
                            <p>Lorem ipsum Non esse do consectetur id qui eiusmod et ad dolor mollit sed fugiat ut mollit do eiusmod sed do officia consectetur.</p>
                        </div>
                    </div> <!-- about-item -->
                    <div class="about-item">
                        <div class="about-item-icon">
                            <i class="icon-group"></i>
                        </div>
                        <div class="about-item-content">
                            <h3>Magna dolore labore pariatur</h3>
                            <p>Lorem ipsum Non esse do consectetur id qui eiusmod et ad dolor mollit sed fugiat ut mollit do eiusmod sed do officia consectetur.</p>
                        </div>
                    </div> <!-- about-item -->
                    <div class="about-item">
                        <div class="about-item-icon">
                            <i class="icon-signal"></i>
                        </div>
                        <div class="about-item-content">
                            <h3>Aliquip incididunt irure</h3>
                            <p>Lorem ipsum Non esse do consectetur id qui eiusmod et ad dolor mollit sed fugiat ut mollit do eiusmod sed do officia consectetur.</p>
                        </div>
                    </div> <!-- about-item -->
                </section> <!-- about-info -->
            </div> <!-- col-md-5 -->
        </div> <!-- row -->

      
    </div> <!-- container -->