     <% if defined? votable %>
  
     <%= link_to [:admin, votable, :upvote], :remote => true  do %>
		<button type="button" class="btn primary btn-xs" title="Like">
            <span class="fa fa-thumbs-up"></span>
        </button>
    <% end %>
    <%= link_to [:admin, votable, :downvote], :remote => true  do %>
    	<button type="button" class="btn primary btn-xs" title="Unlike">
            <span class="fa fa-thumbs-down"></span>
        </button>
    <% end %>

    <% end %>