<div class="alert alert-danger hidden alert-dismissible" id="comment-<%=comment.id %>-alert" data-dismiss="alert">
	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	You you voted this comment down
</div>