<%  add_breadcrumb "Home", :root_path, :options => { :title => "Home" } %>
<%  add_breadcrumb "About", page_path('about'), :options => { :title => "About" } %>
<% content_for :page_title, 'About Optimus Labs' %>
<div class="container">
        <header class="section-title">
            <h1>About Us</h1>

            <ol class="breadcrumb">
                 <%= render_breadcrumbs :tag => :li, :separator => "", :class=>"breadcrumb-label text-light-gray" %>
            </ol>
        </header>

        <div class="row">
            <div class="col-xs-12">
                <section id="about-slogan">
                    <p class="lead">Are you Optimus?</p>
                    
                </section>
            </div>

            <div class="col-md-7">
                <section id="about-description">
                    <p>Optimus Labs was founded by Jody Albritton in 2010 as an IT services consulting company. After three years of helping small and medium sized businesses with all sorts of technology issues, we discovered that there are fairly large gaps in the software available to the average small business owner. Sure, there are plenty of choices when it comes to software for business. However, most of the software packages are targeted at companies with revenues in the hundreds of thousands of dollars. Optimus Consulting became Optimus Labs in 2013 when we decided to fill those gaps and build software solutions for small businesses. </p>

                    <p>It is our experience as a small business that helps ensure that we don't lose focus of what our customers truly need. We use this experience to build tools that will be useful to the average small business owner. Technology should be invisible, and we make it disappear into the background.  By utilizing open source software, keeping things simple, and focusing on getting the job done; Optimus Labs is helping small businesses keep costs down and their technology running smoothly.</p>
                </section> <!-- about-description -->
            </div> <!-- col-md-7 -->

            <div class="col-md-5">
                <section id="about-info">
                    <div class="about-item">
                        <div class="about-item-icon">
                            <i class="icon-suitcase"></i>
                        </div>
                        <div class="about-item-content">
                            <h3>We Come To You</h3>
                            <p>We will come to your office or any other location of your choosing. We do keep regular business hours but we are always on call. 24 hours a day, 7 days a week. </p>
                        </div>
                    </div> <!-- about-item -->
                    <div class="about-item">
                        <div class="about-item-icon">
                            <i class="icon-group"></i>
                        </div>
                        <div class="about-item-content">
                            <h3>Technology Solutions</h3>
                            <p>We provide solutions to real problems faced by small businesses. We build tools that we need and then devliever the tested product to you.</p>
                        </div>
                    </div> <!-- about-item -->
                    <div class="about-item">
                        <div class="about-item-icon">
                            <i class="icon-signal"></i>
                        </div>
                        <div class="about-item-content">
                            <h3>A Trusted Advisor</h3>
                            <p>Sometimes, all you need is someone you can trust to talk to, and we never charge for consultation. Give us a call for a free technology evaluation.</p>
                        </div>
                    </div> <!-- about-item -->
                </section> <!-- about-info -->
            </div> <!-- col-md-5 -->
        </div> <!-- row -->
        <section id="about-team">
        <h2 class="section-title">Our Team</h2>
        <div class="row">
 
        <div class="col-md-4 col-sm-6">
                            <div class="about-team-item">
                                <div class="about-team-item-header">
                                    <div class="about-team-item-social">
                                        <a href="https://www.facebook.com/Joshpointohh"><i class="icon-facebook"></i></a>
                                        <a href="https://plus.google.com/113212499512998330003"><i class="icon-google-plus"></i></a>
                                       
                                    </div>
                                    <%= image_tag "at3.jpg", :class=> "img-responsive" %>
                                    <h3>Josh Shepherd</h3>
                                </div>
                                <div class="about-team-item-content">    
                                    <p>Josh is a student of psychology and a lover of all things media. He works with our partners to create videos and marketing materials. When not working in the IT world, Josh donates his time walking dogs at the local animal shelter.</p>
                                </div>
                                <div class="about-team-item-footer">
                                    <a href="#">Media and Marketing</a>
                                </div>
                            </div>
                        </div>
        <div class="col-md-4 col-sm-6">
                            <div class="about-team-item">
                                <div class="about-team-item-header">
                                    <div class="about-team-item-social">
                                        <a href="http://twitter.com/jodyalbritton"><i class="icon-twitter"></i></a>
                                        <a href="https://www.facebook.com/jodymalbritton"><i class="icon-facebook"></i></a>
                                        <a href="http://github.com/jodyalbritton"><i class="icon-github"></i></a>
                                        <a href="https://plus.google.com/+JodyAlbritton/"><i class="icon-google-plus"></i></a>
                                        
                                    </div>
                                     <%= image_tag "at2.jpg", :class=> "img-responsive" %>
                                    <h3>Jody Albritton</h3>
                                </div>
                                <div class="about-team-item-content">
                                    
                                    <p>Jody has worked in all levels of the IT industry for over 15 years. From network administration to software engineering, he has some level of expeirence with nearly every apsect of tech. Jody also dabbles in stand up comedy and loves movies.</p>
                                </div>
                                <div class="about-team-item-footer">
                                    <a href="#">Lead Developer</a>
                                </div>
                            </div>
                        </div>
        <div class="col-md-4 col-sm-6">
                            <div class="about-team-item">
                                <div class="about-team-item-header">
                                    <div class="about-team-item-social">
                                 
                                    </div>
                                  <%= image_tag "at6.jpg", :class=> "img-responsive" %>
                                    <h3>Rebecca Goodman</h3>
                                </div>
                                <div class="about-team-item-content">
                                    
                                    <p>Rebecca is a talented artist with a keen eye for design. While completing her degree in computer science, Rebecca also works in the student success center of her college. Rebecca is working on her A+ certification; she understands the tech behind the design. </p>
                                </div>
                                <div class="about-team-item-footer">
                                    <a href="#">Art Director</a>
                                </div>
                            </div>
                        </div>
        </div>
        </section>
    </div> <!-- container -->