<%  add_breadcrumb "Home", :root_path, :options => { :title => "Home" } %>
<%  add_breadcrumb "About", page_path('about'), :options => { :title => "About" } %>
<% content_for :page_title, 'About Optimus Labs' %>
<div class="container">
        <header class="section-title">
            <h1>About Us</h1>

            <ol class="breadcrumb">
                 <%= render_breadcrumbs :tag => :li, :separator => "", :class=>"breadcrumb-label text-light-gray" %>
            </ol>
        </header>

        <div class="row">
            <div class="col-xs-12">
                <section id="about-slogan">
                    <p class="lead">We are a small business too.</p>
                    
                </section>
            </div>

            <div class="col-md-7">
                <section id="about-description">
                    <p>Established in 2010, Optimus Labs has provided technology services to small and medium sized businesses across the state of <strong>Texas</strong>. Optimus Labs is a small business too, so we know the struggles you face as a small business owner. </p>

                    <p>Our primary aim is providing <strong>excellent customer service</strong>. We become a part of your team. We focus on the technology so that you can focus on growing your business. As a software and services company we develope solutions that enable small businesses to interact with their customers in Today's connected economy.</p>
                </section> <!-- about-description -->
            </div> <!-- col-md-7 -->

            <div class="col-md-5">
                <section id="about-info">
                    <div class="about-item">
                        <div class="about-item-icon">
                            <i class="icon-suitcase"></i>
                        </div>
                        <div class="about-item-content">
                            <h3>We Come To You</h3>
                            <p>We will come to your office or any other location of your choosing. We do keep regular business hours but we are always on call. 24 hours a day, 7 days a week. </p>
                        </div>
                    </div> <!-- about-item -->
                    <div class="about-item">
                        <div class="about-item-icon">
                            <i class="icon-group"></i>
                        </div>
                        <div class="about-item-content">
                            <h3>Qualified Professionals</h3>
                            <p>Our staff is made up of highly qualified individuals.</p>
                        </div>
                    </div> <!-- about-item -->
                    <div class="about-item">
                        <div class="about-item-icon">
                            <i class="icon-signal"></i>
                        </div>
                        <div class="about-item-content">
                            <h3>A Trusted Advisor</h3>
                            <p>Sometimes, all you need is someone you can trust to talk to, and we never charge for consultation.</p>
                        </div>
                    </div> <!-- about-item -->
                </section> <!-- about-info -->
            </div> <!-- col-md-5 -->
        </div> <!-- row -->
        <section id="about-team">
        <h2 class="section-title">Our Team</h2>
        <div class="row">
 
        <div class="col-md-4 col-sm-6">
                            <div class="about-team-item">
                                <div class="about-team-item-header">
                                    <div class="about-team-item-social">
                                        <a href="#"><i class="icon-twitter"></i></a>
                                        <a href="#"><i class="icon-facebook"></i></a>
                                        <a href="#"><i class="icon-github"></i></a>
                                        <a href="#"><i class="icon-google-plus"></i></a>
                                        <a href="#"><i class="icon-dribbble"></i></a>
                                    </div>
                                    <%= image_tag "at3.jpg", :class=> "img-responsive" %>
                                    <h3>Josh Shepherd</h3>
                                </div>
                                <div class="about-team-item-content">
                                    
                                    <p>Lorem ipsum Dolore tempor aliquip ad qui anim aliqua tempor Duis aute sit cillum aliquip voluptate et eu Duis dolore minim ea mollit aute qui Ut ea et ut in eu magna eiusmod.</p>
                                </div>
                                <div class="about-team-item-footer">
                                    <a href="#">Media and Marketing</a>
                                </div>
                            </div>
                        </div>
        <div class="col-md-4 col-sm-6">
                            <div class="about-team-item">
                                <div class="about-team-item-header">
                                    <div class="about-team-item-social">
                                        <a href="#"><i class="icon-twitter"></i></a>
                                        <a href="#"><i class="icon-facebook"></i></a>
                                        <a href="#"><i class="icon-github"></i></a>
                                        <a href="#"><i class="icon-google-plus"></i></a>
                                        <a href="#"><i class="icon-dribbble"></i></a>
                                    </div>
                                     <%= image_tag "at2.jpg", :class=> "img-responsive" %>
                                    <h3>Jody Albritton</h3>
                                </div>
                                <div class="about-team-item-content">
                                    
                                    <p>Lorem ipsum Dolore tempor aliquip ad qui anim aliqua tempor Duis aute sit cillum aliquip voluptate et eu Duis dolore minim ea mollit aute qui Ut ea et ut in eu magna eiusmod.</p>
                                </div>
                                <div class="about-team-item-footer">
                                    <a href="#">Lead Developer</a>
                                </div>
                            </div>
                        </div>
        <div class="col-md-4 col-sm-6">
                            <div class="about-team-item">
                                <div class="about-team-item-header">
                                    <div class="about-team-item-social">
                                        <a href="#"><i class="icon-twitter"></i></a>
                                        <a href="#"><i class="icon-facebook"></i></a>
                                        <a href="#"><i class="icon-github"></i></a>
                                        <a href="#"><i class="icon-google-plus"></i></a>
                                        <a href="#"><i class="icon-dribbble"></i></a>
                                    </div>
                                  <%= image_tag "at6.jpg", :class=> "img-responsive" %>
                                    <h3>Rebecca Goodman</h3>
                                </div>
                                <div class="about-team-item-content">
                                    
                                    <p>Lorem ipsum Dolore tempor aliquip ad qui anim aliqua tempor Duis aute sit cillum aliquip voluptate et eu Duis dolore minim ea mollit aute qui Ut ea et ut in eu magna eiusmod.</p>
                                </div>
                                <div class="about-team-item-footer">
                                    <a href="#">Art Director</a>
                                </div>
                            </div>
                        </div>
        </div>
        </section>
    </div> <!-- container -->